.cart-details{
    border-left: 1px solid gray;
    background-color: #FF99004D;
    padding: 20px 0 50px 15px;
    margin-top: 120px;
}
.clear-cart{
    width: 232px;
    height: 48px;
    background: #FF3030;
    border-radius: 4px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: white;
    margin: 10px;
}