.show-product{
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
    width: 300px;
    height: 508px;
}
.show-product-details{
    padding: 8px 7px;
}
.show-product-details h3{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    font-size: 21px;
    margin-top: 14px;
    margin-bottom: 8px;
}
.show-product-details p{
    margin-top: 15px;
    margin-bottom: 12px;
}
.show-product-details span{
    margin-bottom: 15px;
}
.show-product img{
    height: 286px;
    width: 286px;
    border-radius: 15px;
    margin-bottom: 0px;
}
.product-button{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #FFE0B3ed;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-button p{
    font-size: 18px;
    font-weight: bold;
    margin: 0%;
    padding-right: 10px;
}
.product-button:hover{
    background-color: orange;
    color: antiquewhite;
}